<!DOCTYPE html>
<html lang="en">
<head>
  <title>CF Consumer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="refresh" content="5" />
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <div class="jumbotron">
    <h1>CF Consumer Status Page</h1>
    <p><a class="btn btn-primary btn-lg" href="https://github.com/tracyde/cf-powerhour">Learn More &raquo;</a></p> 
  </div>

{{if .AMQP}}
{{else}}
  <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        Unable to connect to CloudAMQP service
      </div>
    </div>
  </div>
{{end}}

{{if .REDIS}}
{{else}}
  <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        Unable to connect to Redis service
      </div>
    </div>
  </div>
{{end}}

  <div class="row">
    <div class="col-sm-6">
      <h3>Instance</h3>
      <ul class="list-group">
        <li class="list-group-item"><span class="badge">{{.InstanceIndex}}</span> Index</li>
        <li class="list-group-item"><span class="badge">{{.InstanceProcessed}}</span> Processed</li>
      </ul>
    </div>
    <div class="col-sm-6">
      <h3>Application</h3>
      <ul class="list-group">
        <li class="list-group-item"><span class="badge">{{.TotalProcessed}}</span> Processed</li>
      </ul>
    </div>
  </div>

</div>

</body>
</html>

